.needs-validation{
    position: relative;
    left: 3vw;
    max-width: 50vw;
}

.addButtonDiv {
    position: fixed;
    bottom: 40px;
    right: 10px;
}

.product-successful {
    position: sticky;
    opacity: 0;
    animation: product_added 5s ease-in-out normal;
    animation-play-state: paused;
}

@keyframes product_added {
    from {
        bottom: -30px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.75;
    }

    to {
        bottom: 50px;
        opacity: 0;
    }
}